*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    background-image: linear-gradient(to bottom, #d7d7d7, #c6c6c6, #b5b5b5, #a5a5a5, #959595);
    height: 550px;
    width: 250px;
    border: 3px solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.scrn{
    background-image: linear-gradient(to right bottom, #dbf3ff, #c8ecff, #b4e6ff, #9fdfff, #88d8ff);
    height: 150px;
    width: 180px;
    border: 2px solid;
    border-radius: 20px;
}

.btns{
    background-color:aliceblue;
    height: 200px;
    width: 220px;
    border: 2px solid;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

button{
    width: 70px;
    height: 40px;
    border-radius: 15px;
    font-weight: 800;
}

button:hover{
    cursor: pointer;
    transform: scale(.92);
    transition: .2s;
}

button:active{
    transform: scale(.8);
}

.hide{
    display: none;
}

button:hover + .hide{
    display: block;
    position: absolute;
    top: 28vh;
    font-size: 30px;
    font-weight: bolder;    
    color:black;
}
.btn3{
    background-color: red;
}
.btn1{
    background-color:steelblue;
}
.btn4{
    background-color: palegoldenrod;
}
.btn6{
    background-color:limegreen;
}

.btn2, .btn5{
    width:  40px;
    border-radius: 40px;
    background-color:dimgray;
    color: whitesmoke;
}
